.contenedor {
    display: flex;
    justify-content: center;
}

button {
    padding: 8px;
}

.btn::before {
    content: "Pasa por encima";
    display: block;
    font-size: 30px;
}

.btn::after {
    content: "¡Hecho!";
    display: block;
    font-size: 30px;
    opacity: 0;
}

.btn:hover {
    color: white;
    background-color: green;
}

.btn:hover::before {
    opacity: 0;
}

.btn:hover::after {
    opacity: 1;
}